{% extends 'layout.html' %}
{% block body %}

<h2>Completed Tasks</h2>
{% for book in all_books %}
    {% if book.completed == False %}
        {{ book.description }}
        <br>
        {{ book.date_created }}
        <br>
        <form action = "{{ url_for('update', id=book.id }}">
            <input type=submit value="Update">
        </form>
        <form action = "{{ url_for('update', id=book.id }}">
            <input type=submit value="Update">
        </form>
        <br>
        <br>
    {% endif %}
{% end for %}

<h2>Completed Books</h2>
{% for book in all_books %}
    {% if book.completed == True %}
        {{ book.description }}
        <br>
        {{ book.date_created }}
        <br>
        <form action = "{{ url_for('update', id=book.id }}">
            <input type=submit value="Update">
        </form>
        <form action = "{{ url_for('update', id=book.id }}">
            <input type=submit value="Update">
        </form>
        <br>
        <br>
    {% endif %}
{% endfor %}

{% endblock body %}