{% extends 'layout.html' %}
{% block body %}

<!-- 
<h2>Books added</h2>
{% for book in all_books %}
    {% if book.watchlisted == True %}
        {{ book.description }}
        <br>
        {{ book.date_created }}
        <br>
        <form action = "{{ url_for('update', id=book.id) }}">
            <input type=submit value="Update">
        </form>
        <form action = "{{ url_for('update', id=book.id) }}">
            <input type=submit value="Update">
        </form>
        <br>
        <br>
    {% endif %}
{% endfor %}

-->

<h2>Shops added</h2>
{% for shop in all_shops %}
        {{ shop.shop_name }}
        <br>
        {{ shop.location }}
        <br>
{% endfor %}

{% endblock body %}