{% extends 'layout.html' %}
{% block body %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


<h2>Shops added</h2>
{% for shop in all_shops %}
        <a href="{{ url_for('delete_shop', id=shop.id) }}">Delete</a> | 
        <a href="{{ url_for('update_shop', id=shop.id)}}">Update</a>{{ shop.shop_name }} |
        <a href="{{ url_for('create_book', shop_id=shop.id, user_id=1) }}">Add book to shop</a>
        <br>
        {{ shop.location }}
        <br>
{% endfor %}

<h2>Books added</h2>
{% for book in all_books %}
{% for shop in all_shops %}
        <a> -> New Book! <br> Shop name: </a>{{ shop.shop_name }} <br>
        <a> Book Title: </a> {{ book.book_title }} <br>
        <a> Date added: </a> {{ book.date_added }} <br>
        <a> Location: </a> {{ shop.location }}
        <br>
        <br>
{% endfor %}
{% endfor %}

{% endblock body %}